<div class="white-section section products">
    <div class="wrapper">
        <h2 class="title products-title">
            Японки <span class="colortext_pink">худые</span> не&nbsp;от&nbsp;природы
            <p class="title_smaller">а&nbsp;от&nbsp;того, что следуют многовековым традициям</p>
        </h2>
        <div class="products-wrap">
            <div class="products-item">
                <div class="products-item__img">
                    <img src="./img/products-item1.jpg" alt="products">
                </div>
                <div class="products-item__number">1</div>
                <div class="products-item__content">
                    <p class="products-item__title">Уменьшают аппетит:</p>
                    <p class="products-item__text">авокадо, семена чиа, имбирь, красная рыба, зеленый чай</p>
                </div>
            </div>
            <div class="products-item">
                <div class="products-item__img">
                    <img src="./img/products-item2.jpg" alt="products">
                </div>
                <div class="products-item__number">2</div>
                <div class="products-item__content">
                    <p class="products-item__title">Сжигают жир:</p>
                    <p class="products-item__text">лосось, водоросли, ананас, папайя, миндаль, грейпфрут, корица, капуста</p>
                </div>
            </div>
            <div class="products-item">
                <div class="products-item__img">
                    <img src="./img/products-item3.jpg" alt="products">
                </div>
                <div class="products-item__number">3</div>
                <div class="products-item__content">
                    <p class="products-item__title">Нормализуют обмен веществ:</p>
                    <p class="products-item__text">чай матча, шпинат, брокколи, соевое молоко, острые специи</p>
                </div>
            </div>
            <div class="products-item">
                <div class="products-item__img">
                    <img src="./img/products-item4.jpg" alt="products">
                </div>
                <div class="products-item__number">4</div>
                <div class="products-item__content">
                    <p class="products-item__title">Удерживают результат: </p>
                    <p class="products-item__text">фрукты и&nbsp;овощи, рыба, морепродукты, орехи и&nbsp;ягоды</p>
                </div>
            </div>
        </div>
        <div class="products-conclusion">
            <p class="products-conclusion__text">
                Неужели единственный шанс похудеть —<br> есть дорогие и&nbsp;труднодоступные продукты?
            </p>
        </div>
    </div>
</div>