<div class="section section-pink secrets">
    <div class="wrapper">
        <h2 class="title secrets-title">
            В <div class="title-img secrets-title__img"><img src="./img/logo.svg" alt="yummyfit"></div> заложены<br> секреты стройности японок
            <p class="title_smaller">Тебе не нужно придерживаться строгих правил правильного&nbsp;питания!</p>
        </h2>
        <div class="secrets-wrap">
            <div class="secrets-item secrets-morning">
                <div class="secrets-item__header">
                    <p class="secrets-item__number">1</p>
                    <p class="secrets-item__title">Работает днем</p>
                </div>
                <div class="secrets-list">
                    <div class="secrets-list__item">
                        <div class="secrets-list__circle">
                            <img src="./img/check.png" alt="">
                        </div>
                        <p class="secrets-list__text"><span class="font_medium">Нормализует</span> аппетит</p>
                    </div>
                    <div class="secrets-list__item">
                        <div class="secrets-list__circle">
                            <img src="./img/check.png" alt="">
                        </div>
                        <p class="secrets-list__text"><span class="font_medium">Активизирует</span> метаболизм</p>
                    </div>
                    <div class="secrets-list__item">
                        <div class="secrets-list__circle">
                            <img src="./img/check.png" alt="">
                        </div>
                        <p class="secrets-list__text"><span class="font_medium">Блокирует</span><br> всасывание жиров</p>
                    </div>
                </div>
                <div class="secrets-morning__img">
                    <img class="secrets-morning__orange" src="./img/orange.png" alt="orange">
                    <img src="./img/product-morning.png" alt="product">
                </div>
            </div>
            <div class="secrets-item secrets-center">
                <img src="./img/product-main.png" alt="product">
            </div>
            <div class="secrets-item secrets-evening">
                <div class="secrets-item__header">
                    <p class="secrets-item__number">2</p>
                    <p class="secrets-item__title">Работает ночью</p>
                </div>
                <div class="secrets-list">
                    <div class="secrets-list__item">
                        <div class="secrets-list__circle">
                            <img src="./img/check.png" alt="">
                        </div>
                        <p class="secrets-list__text"><span class="font_medium">Расщепляет</span> подкожный&nbsp;жир</p>
                    </div>
                    <div class="secrets-list__item">
                        <div class="secrets-list__circle">
                            <img src="./img/check.png" alt="">
                        </div>
                        <p class="secrets-list__text"><span class="font_medium">Избавляет</span> от&nbsp;целлюлита</p>
                    </div>
                    <div class="secrets-list__item">
                        <div class="secrets-list__circle">
                            <img src="./img/check.png" alt="">
                        </div>
                        <p class="secrets-list__text"><span class="font_medium">Нормализует</span><br> работу кишечника</p>
                    </div>
                </div>
                <div class="secrets-evening__img">
                    <img class="secrets-evening__strawberry" src="./img/strawberry.png" alt="strawberry">
                    <img src="./img/product-evening.png" alt="product">
                </div>
            </div>
        </div>
        <button class="button secrets-button ever-popup-btn">
            Заказать <span class="button__smaller">со скидкой</span>
        </button>
    </div>
</div>