<div class="section white-section preference">
    <div class="wrapper">
        <h2 class="title preference-title">
            <span class="colortext_pink">Стройные</span> девушки<br> всегда получают больше
        </h2>
        <div class="preference-wrap">
            <div class="preference-item">
                <div class="preference-item__img">
                    <img src="./img/preference-item1.jpg" alt="">
                </div>
                <p class="preference-item__text">
                    Возможность не&nbsp;испытывать вину, если съела что-то калорийное
                </p>
            </div>
            <div class="preference-item">
                <div class="preference-item__img">
                    <img src="./img/preference-item2.jpg" alt="">
                </div>
                <p class="preference-item__text">
                    Удовольствие<br> от&nbsp;выбора одежды
                </p>
            </div>
            <div class="preference-item">
                <div class="preference-item__img">
                    <img src="./img/preference-item3.jpg" alt="">
                </div>
                <p class="preference-item__text">
                    Восхищение и&nbsp;комплименты окружающих
                </p>
            </div>
        </div>
        <div class="preference-conclusion">
            <div class="preference-conclusion__content">
                <p class="preference-conclusion__title">Не лишай себя этого!</p>
                <p class="preference-conclusion__text">
                    Все полненькие подруги будут расспрашивать,<br>
                    как тебе удалось так быстро <span class="font_medium colortext_pink">похудеть!</span>
                </p>
            </div>
            <div class="preference-conclusion__arrow">
                <img src="./img/preference-arrow.png" alt="">
            </div>
            <button class="button preference-button ever-popup-btn">
                Заказать <span class="button__smaller">YummyFit</span>
            </button>
        </div>
    </div>
</div>