<div class="section section-pink components">
    <div class="wrapper">
        <h2 class="title components-title">
            <div class="title-img secrets-title__img"><img src="./img/logo.svg" alt="yummyfit"></div> состоит из&nbsp;натуральных компонентов,
            <p class="title_smaller">которые так любят японки</p>
        </h2>
        <div class="components-box">
            <div class="components-item components-morning">
                <div class="components-item__header">
                    <div class="components-item__product">
                        <img src="./img/product-morning.png" alt="product">
                    </div>
                    <p class="components-item__title">Дневная<br> порция</p>
                    <div class="components-item__logo"></div>
                </div>
                <div class="components-list">
                    <div class="components-list__item components-list__item1">
                        <div class="components-list__img">
                            <img src="./img/components-morning1.png" alt="">
                        </div>
                        <div class="components-list__content">
                            <p class="components-list__title">Семена сафлоры</p>
                            <p class="components-list__text">
                                Нормализуют аппетит, помогают кишечнику выводить шлаки и&nbsp;токсичные вещества
                            </p>
                        </div>
                    </div>
                    <div class="components-list__item components-list__item2">
                        <div class="components-list__img components-morning__img2">
                            <img src="./img/components-morning2.png" alt="">
                        </div>
                        <div class="components-list__content">
                            <p class="components-list__title">Листья готу кола</p>
                            <p class="components-list__text">
                                Сохраняют объем груди
                                и&nbsp;тонизируют кожу для подтянутых линий, эффективное средство против целлюлита
                            </p>
                        </div>
                    </div>
                    <div class="components-list__item components-list__item3">
                        <div class="components-list__img components-morning__img3">
                            <img src="./img/components-morning3.png" alt="">
                        </div>
                        <div class="components-list__content">
                            <p class="components-list__title">Матча</p>
                            <p class="components-list__text">
                                Помогает вырабатывать серотонин
                                и&nbsp;дофамин, которые создают ощущение сытости<br> и&nbsp;придают энергию
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="components-item components-evening">
                <div class="components-item__header">
                    <div class="components-item__product">
                        <img src="./img/product-evening.png" alt="product">
                    </div>
                    <p class="components-item__title">Ночная<br> порция</p>
                    <div class="components-item__logo"></div>
                </div>
                <div class="components-list">
                    <div class="components-list__item components-list__item1">
                        <div class="components-list__img">
                            <img src="./img/components-evening1.png" alt="">
                        </div>
                        <div class="components-list__content">
                            <p class="components-list__title">Сушеница топяная</p>
                            <p class="components-list__text">
                                Ускоряет обмен веществ<br> и&nbsp;помогает быстро избавляться<br> от лишних килограммов.
                            </p>
                        </div>
                    </div>
                    <div class="components-list__item components-list__item2">
                        <div class="components-list__img components-evening__img2">
                            <img src="./img/components-evening2.png" alt="">
                        </div>
                        <div class="components-list__content">
                            <p class="components-list__title">ДНК Лососевых</p>
                            <p class="components-list__text">
                                Усиливает внутриклеточный метаболизм, регулирует скорость жирового обмена, улучшает<br>
                                состояние кожи и&nbsp;волос.
                            </p>
                        </div>
                    </div>
                    <div class="components-list__item components-list__item3">
                        <div class="components-list__img components-evening__img3">
                            <img src="./img/components-evening3.png" alt="">
                        </div>
                        <div class="components-list__content">
                            <p class="components-list__title">Хлорелла</p>
                            <p class="components-list__text">
                                Сжигает жир, способствует похудению, нормализует<br> пищеварение и улучшает<br> тонус&nbsp;кожи
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="components-conclusion">
            <p class="components-conclusion__text">
                Сочетание мощнейших растительных компонентов<br>
                <span class="another">запустит процесс похудения, независимо от&nbsp;твоей&nbsp;диеты.</span>
            </p>
        </div>
    </div>
</div>