<section class="section white-section expert">
  <div class="wrapper">
    <h2 class="title expert-title">
      Все секреты стройности японок <br>в&nbsp;шипучем геле
      <img src="./img/logo.svg" class="main-logo" alt="YummiFit">
    </h2>
    <div class="expert-content">
      <div class="expert-person">
        <img src="./img/expert-person.png" alt="">
      </div>
      <blockquote class="expert-text">
        <p><b class="expert-text__title font_medium">
          Японские женщины считаются самыми стройными в&nbsp;мире,</b><br>
          и&nbsp;не потому, что мало едят. А потому что у них принято есть<br>
          маленькими порциями. Блюда готовятся из сырых продуктов<br>
          или с&nbsp;применением минимальной тепловой обработки.</p>
        <p>
          Прием пищи для них — “сакральный ритуал”, во время которого<br>
          принято все тщательно пережевывать. Японки едят только свежие<br>
          и&nbsp;низкокалорийные продукты: рыба, морепродукты, рис, овощи<br>
          и&nbsp;фрукты, зеленый чай. А вместо мяса японки скорее съедят сою.</p>
        <p>
          Именно благодаря такому рациону японцы — самая стройная нация.<br>
          К&nbsp;тому же днем они едят то, что <b class="font_medium">уменьшает аппетит</b>, а вечером —<br>
          <b class="font_medium">жиросжигающие продукты</b>.</p>
        <p>
          Принцип японской стройности воспроизведен и в шипучем геле<br>
          YummyFit. Его состав — кладезь полезнейших компонентов<br>
          природного происхождения. Дневная порция YummyFit состоит<br>
          из 22 натуральных элементов, а ночная — из 33.</p>
      </blockquote>
    </div>
  </div>
</section>