<section class="section section-pink stats">
  <div class="wrapper">
    <h2 class="title stats-title">
      2356 женщин прошли курс
      <img src="./img/logo.svg" class="main-logo" alt="YummiFit">
    </h2>
    <p class="stats-subtitle">и спустя месяц получили следующие результаты</p>
    <ul class="stats-list">
      <li class="stats-item">
        <span class="stats-value">18%</span>
        <span class="stats-description">
          похудели
          <strong>от 8 кг и более</strong>
        </span>
      </li>
      <li class="stats-item">
        <span class="stats-value">33%</span>
        <span class="stats-description">
          избавились
          <strong>от 3-4 кг</strong>
        </span>
      </li>
      <li class="stats-item">
        <span class="stats-value">49%</span>
        <span class="stats-description">
          стали легче
          <strong>на 5-7 кг</strong>
        </span>
      </li>
    </ul>
    <p class="stats-note">*Результаты применения зависят от <br>индивидуальных особенностей</p>
  </div>
</section>