<section class="section white-section reviews">
  <div class="wrapper reviews-wrapper">
    <h2 class="title reviews-title">
      Отзывы о
      <img src="./img/logo.svg" class="main-logo" alt="YummyFit">
    </h2>
    <div class="reviews-list">
      <div class="reviews-item">
        <blockquote class="review">
          <img src="./img/review-01.png" alt="" class="review-thumb">
          <div class="review-body">
            <p class="review-about">
              Юлия, г. Москва, <span class="age">27 лет</span>
            </p>
            <cite class="review-cite">
              Успела похудеть <br>к свадьбе
            </cite>
            <p class="review-text">
              Хотела выглядеть идеально на своей <br>
              свадьбе летом, но на пути стояли <br>
              лишние 11 килограмм. Полгода я пробовала разные диеты, <br>
              но мне от них было плохо, а эффект <br>
              практически нулевой. Вычитала <br>
              в сети об YummyFit. Цена была <br>
              приемлемой, поэтому решила <br>
              попробовать. Так легко я еще <br>
              не худела никогда! Вес ушел, <br>
              а я чувствую себя прекрасно. <br>
              Как никогда ранее!
            </p>
          </div>
          <button class="review-toggler" type="button"></button>
        </blockquote>
      </div>
      <div class="reviews-item">
        <blockquote class="review">
          <img src="./img/review-02.png" alt="" class="review-thumb">
          <div class="review-body">
            <p class="review-about">
              Ника, г. Новосибирск, <span class="age">31 год</span>
            </p>
            <cite class="review-cite">
                Похудела даже с маленьким <br>ребенком на руках
            </cite>
            <p class="review-text">
              Когда на руках маленький ребенок, <br>некогда заниматься спортом. <br>Но желание хорошо выглядеть <br>никуда не девается. Подруга <br>посоветовала действенный способ — <br>YummyFit. Пила его утром и вечером <br>в течение месяца. Даже одного курса <br>мне хватило, чтобы избавиться <br>от 6 кг. Сделаю перерыв и продолжу <br>принимать дальше. Идеальная <br>фигура — близко!
            </p>
          </div>
          <button class="review-toggler" type="button"></button>
        </blockquote>
      </div>
      <div class="reviews-item">
        <blockquote class="review">
          <img src="./img/review-03.png" alt="" class="review-thumb">
          <div class="review-body">
            <p class="review-about">
              Ольга, г. Сочи, <span class="age">52 года</span>
            </p>
            <cite class="review-cite">
              Похудела <br>к лету
            </cite>
            <p class="review-text">
              Дочка моя ест все, что хочет <br>
              и вес у нее уже многие годы <br>
              держится на 54 кг. Мне же стоит <br>
              съесть что-то жирное или мучное — <br>
              сразу все откладывается на попе. <br>
              Собрались с ней в Турцию летом <br>
              ехать. Думаю, хватит — нужно брать <br>
              себя в руки. Поискала в интернете <br>
              и увидела много положительных <br>
              отзывов о яммифите. Вкусненькая <br>
              смесь чудесным образом стала <br>
              помогать. Я начала худеть на глазах, <br>
              не меняя свой образ жизни. Это <br>
              поистине изобретение века!
            </p>
          </div>
          <button class="review-toggler" type="button"></button>
        </blockquote>
      </div>
      <div class="reviews-item">
        <blockquote class="review">
          <img src="./img/review-04.png" alt="" class="review-thumb">
          <div class="review-body">
            <p class="review-about">
              Лидия, г. Омск, <span class="age">46 лет</span>
            </p>
            <cite class="review-cite">
              За месяц талия <br>уменьшилась на 5 см
            </cite>
            <p class="review-text">
              Не секрет, что с возрастом похудеть <br>
              сложнее. Из-за складок на боках <br>
              и животе, целлюлитных ног — вечно <br>
              чувствовала себя ущербной. <br>
              Заниматься спортом у меня <br>
              нет ни времени, ни состояния <br>
              здоровья. А после диет скинутые <br>
              килограммы возвращались <br>
              с двойной силой. Подруга очень <br>
              похудела с помощью YummyFit, я и <br>
              себе решила попробовать. Результат <br>
              просто потрясающий — талия стала <br>
              меньше на 5 см и бедра ушли только <br>
              за первый месяц! Вот начала уже <br>
              второй курс. Самое удивительное — <br>
              прежний результат  по-прежнему <br>
              держится. Рекомендую!
            </p>
          </div>
          <button class="review-toggler" type="button"></button>
        </blockquote>
      </div>
      <div class="reviews-item">
        <blockquote class="review">
          <img src="./img/review-05.png" alt="" class="review-thumb">
          <div class="review-body">
            <p class="review-about">
              Вера, г. Санкт-Петербург, <span class="age">57 лет</span>
            </p>
            <cite class="review-cite">
              Когда нет денег <br>сбалансированно питаться
            </cite>
            <p class="review-text">
              На пенсию я не могу позволить себе <br>
              питаться сбалансированно, <br>
              а выглядеть нормально хочется. <br>
              Тем более, что от лишнего веса все <br>
              болячки в основном и появляются. <br>
              Соседка рассказала о пакетиках <br>
              YummyFit. Состав мне понравился <br>
              — все полезные ингредиенты <br>
              упаковали в пакетики. Да и соседка <br>
              заметно лучше стала выглядеть. <br>
              Страшно было заказывать через <br>
              интернет, но рискнула и не пожалела. <br>
              Мой желудок словно проснулся от <br>
              долгой спячки. Вес начал <br>
              стремительно уходить, пришлось <br>
              даже брюки новые покупать. И сахар <br>
              понизился!
            </p>
          </div>
          <button class="review-toggler" type="button"></button>
        </blockquote>
      </div>
      <div class="reviews-item">
        <blockquote class="review">
          <img src="./img/review-06.png" alt="" class="review-thumb">
          <div class="review-body">
            <p class="review-about">
              Варя, г. Казань, <span class="age">19 лет</span>
            </p>
            <cite class="review-cite">
              Выглядела обворожительно <br>на выпускном
            </cite>
            <p class="review-text">
              Мои одноклассники очень жестокие, <br>
              я в школе прошла через все круги <br>
              ада из-за своего веса. Хотелось <br>
              утереть нос всем и выглядеть <br>
              на выпускном как куколка. Как раз <br>
              YummyFit помог приблизиться к реализации моей мечты (его <br>
              рекламу я увидела на каком-то <br>
              сайте). За два курса я избавилась <br>
              от 14 кг. Это был не идеальный <br>
              результат для меня, но, учитывая, что <br>
              я даже спортом при этом не <br>
              занималась, это круто! Купила себе <br>
              суперское бальное красное платье. <br>
              Одноклассники аж обалдели))) <br>
              Останавливаться на достигнутом <br>
              не планирую.
            </p>
          </div>
          <button class="review-toggler" type="button"></button>
        </blockquote>
      </div>
      <div class="reviews-item">
        <blockquote class="review">
          <img src="./img/review-07.png" alt="" class="review-thumb">
          <div class="review-body">
            <p class="review-about">
              Вера, г. Екатеринбург, <span class="age">29 лет</span>
            </p>
            <cite class="review-cite">
              Безопасный <br>детокс
            </cite>
            <p class="review-text">
              Мой вес меня вполне устраивал, <br>
              но хотелось почистить организм. <br>
              Безболезненно и без отгулов <br>
              на работе. Коллега рассказала об <br>
              этом шипучем геле и я решила <br>
              попробовать. Буквально с первых <br>
              дней заметила, что пища стала <br>
              перевариваться быстрее. Полный <br>
              курс не допивала — мне и 2 недель <br>
              хватило. Стала лучше себя <br>
              чувствовать, улучшились волосы, <br>
              кожа на лице.
            </p>
          </div>
          <button class="review-toggler" type="button"></button>
        </blockquote>
      </div>
      <div class="reviews-item">
        <blockquote class="review">
          <img src="./img/review-08.png" alt="" class="review-thumb">
          <div class="review-body">
            <p class="review-about">
              Анжела, г. Владивосток, <span class="age">43 года</span>
            </p>
            <cite class="review-cite">
              Избавилась от веса, который <br>набрала за зиму
            </cite>
            <p class="review-text">
              За зиму я наела лишних 5 кг. <br>
              Все отложилось на животе и бедрах. <br>
              Надо было срочно спасаться. <br>
              Купила велотренажер, но лень было <br>
              заниматься. Поняла, что спорт <br>
              — это не мое. Знакомая долго <br>
              не рассказывала, как ей удалось <br>
              похудеть, но сдалась под моим <br>
              напором и сдала все явки — говорит <br>
              пила только YummyFit. Мне мало <br>
              верилось, что будет результат, но <br>
              после курса он был — все 5 кг ушли <br>
              еще быстрее, чем пришли)) Даже <br>
              сейчас я вижу эффект, желудок <br>
              работает как часы.
            </p>
          </div>
          <button class="review-toggler" type="button"></button>
        </blockquote>
      </div>
      <div class="reviews-item">
        <blockquote class="review">
          <img src="./img/review-09.png" alt="" class="review-thumb">
          <div class="review-body">
            <p class="review-about">
              Эльвира, г. Пермь, <span class="age">31 год</span>
            </p>
            <cite class="review-cite">
              Стала легче <br>на 3 кг за неделю
            </cite>
            <p class="review-text">
              Врачи мне сказали, <br>
              что я не забеременею пока <br>
              не похудею. Деток я конечно хочу, <br>
              но моя лень затягивала процесс <br>
              похудения надолго. Мне нужно было, <br>
              что-то быстрое, эффективное <br>
              и безопасное. На форумах для <br>
              похудения вычитала о YummyFit. <br>
              Пропила неделю и о чудо — стала <br>
              легче на 3 кг! Волосы стали <br>
              шелковистые, да и общее состояние <br>
              улучшилось. И никаких побочных <br>
              эффектов! Мне еще нужно скинуть <br>
              килограмм 20, так что до конца курса <br>
              надеюсь достичь цели.
            </p>
          </div>
          <button class="review-toggler" type="button"></button>
        </blockquote>
      </div>
    </div>
    <p class="reviews-navigation">
      <button class="reviews-carousel-button reviews-carousel-button_prev" aria-label="Previous" type="button">Previous</button>
      <button class="reviews-carousel-button reviews-carousel-button_next" aria-label="Next" type="button">Next</button>
    </p>
    <button type="button" class="button reviews-button ever-popup-btn">
      Заказать <span class="button__smaller">со скидкой</span>
    </button>
  </div>
</section>