<section class="section white-section reviews">
  <div class="wrapper">
    <h2 class="title reviews-title">
      Отзывы о
      <img src="./img/logo.svg" class="main-logo" alt="YummiFit">
    </h2>
    <div class="reviews-list">
      <div class="reviews-item">
        <blockquote class="review">
          <img src="./img/review-01.jpg" alt="" class="review-thumb">
          <p class="review-about"></p>
          <p class="review-caption"></p>
          <p class="review-text"></p>
          <button class="review-toggler" type="button"></button>
        </blockquote>
      </div>
    </div>
  </div>
</section>