<div class="section section-pink use">
    <div class="wrapper">
        <h2 class="title use-title">
            Как использовать <div class="title-img secrets-title__img"><img src="./img/logo.svg" alt="yummyfit"></div>
        </h2>
        <div class="use-wrap">
            <div class="use-item">
                <div class="use-item__img">
                    <span class="use-item__number">1</span>
                    <img class="use-item__glass" src="./img/glass.png" alt="glass">
                    <img class="use-item__product" src="./img/product-morning.png" alt="product">
                </div>
                <p class="use-item__text">Разведи 1 порцию в&nbsp;стакане воды</p>
            </div>
            <div class="use-item">
                <div class="use-item__img">
                    <span class="use-item__number">2</span>
                    <img class="use-item__clock" src="./img/clock.png" alt="clock">
                </div>
                <p class="use-item__text">Выпей утром и&nbsp;вечером за&nbsp;30&nbsp;минут до&nbsp;еды</p>
            </div>
            <div class="use-item">
                <div class="use-item__img">
                    <span class="use-item__number">3</span>
                    <img class="use-item__calendar" src="./img/calendar.png" alt="calendar">
                </div>
                <p class="use-item__text">Повторяй<br> в&nbsp;течение 30&nbsp;дней</p>
            </div>
        </div>
    </div>
</div>