<div class="section white-section delivery">
    <div class="wrapper">
        <h2 class="title delivery-title">
            Как заказать доставку <div class="title-img secrets-title__img"><img src="./img/logo.svg" alt="yummyfit"></div>
        </h2>
        <div class="delivery-wrap">
            <div class="delivery-item">
                <div class="delivery-item__img">
                    <img class="delivery-item__form" src="./img/delivery-form.png" alt="delivery-form">
                    <span class="delivery-item__number">1</span>
                </div>
                <p class="delivery-item__title">Заполни<br> форму заказа</p>
                <p class="delivery-item__text">Укажи только свое имя<br> и&nbsp;номер телефона</p>
            </div>
            <div class="delivery-item">
                <div class="delivery-item__img">
                    <img class="delivery-item__operator" src="./img/delivery-operator.png" alt="">
                    <span class="delivery-item__number">2</span>
                </div>
                <p class="delivery-item__title">Ответь на&nbsp;звонок<br> оператора</p>
                <p class="delivery-item__text">Он уточнит твои адресные данные и&nbsp;ответит на&nbsp;все вопросы о&nbsp;YummyFit</p>
            </div>
            <div class="delivery-item">
                <div class="delivery-item__img">
                    <img class="delivery-product__main" src="./img/product-main.png" alt="product">
                    <img class="delivery-product__morning" src="./img/product-morning.png" alt="product">
                    <img class="delivery-product__evening" src="./img/product-evening.png" alt="product">
                    <span class="delivery-item__number">3</span>
                </div>
                <p class="delivery-item__title">Оплати<br> <span class="colortext_pink">после получения</span></p>
                <p class="delivery-item__text">Никаких предоплат!</p>
            </div>
        </div>
    </div>
</div>