<div class="white-section footer">
    <div class="wrapper">
        <div class="footer-wrap">
            <div class="footer-item footer-left">
                <div class="footer-logo">
                    <img src="./img/everad.svg" alt="everad">
                </div>
                <div class="footer-left__content">
                    <p class="footer-left__title">YummyFit</p>
                    <p class="footer-left__text">Copyright <span class="date-0" data-format="yyyy">2222</span></p>
                </div>
            </div>
            <div class="footer-item footer-center">
                <a href="privacy.html" target="_blank" class="footer-link">Политика конфиденциальности</a>
                <p class="footer-center__text">г. Москва, ул. Чоботовская, д.17</p>
            </div>
            <div class="footer-item footer-right">
                <p>ИНН 7707251637</p>
                <p>ОГРН 1157735921758</p>
            </div>
        </div>
    </div>
</div>