<div class="ever-popup-build">
    <div class="my-popup" id="cloneThis">
        <div class="popup-wrap">
            <div class="popup-img">
                <div class="popup-product1">
                    <img src="./img/product-main.png" alt="product">
                </div>
                <div class="popup-product2">
                    <img src="./img/product-morning.png" alt="product">
                </div>
                <div class="popup-product3">
                    <img src="./img/product-evening.png" alt="product">
                </div>
            </div>
            <div class="form-box">
                <form action="/submit" method="post" class="x_order_form form">
                    <div class="form-header">
                        <p class="form-title">Успейте заказать<br> со скидкой <span
                                class="font_bold ib colortext_pink">до <span class="date-0">22.02.2222</span></span>
                        </p>
                        <div class="price">
                            <div class="price-old">
                                <p class="price-old__title">Старая цена:</p>
                                <div class="price-content">
                                    <span class="x_price_previous">1980</span><span class="x_currency">руб</span>
                                </div>
                            </div>
                            <div class="price-new">
                                <p class="price-new__title">Новая цена:</p>
                                <div class="price-content">
                                    <span class="x_price_current">990</span><span class="x_currency">руб</span>
                                </div>
                            </div>
                        </div>
                        <p class="form-lastpack">
                            Осталось упаковок со&nbsp;скидкой: <span class="lastpack">12</span>
                        </p>
                    </div>
                    <div class="form-main">
                        <div class="form-field form-field_name">
                            <input class="form-field__input" type="text" name="name" required autocomplete="name"
                                   placeholder="Моё имя">
                        </div>
                        <div class="form-field form-field_tel">
                            <input class="form-field__input" type="tel" name="phone" required autocomplete="tel"
                                   placeholder="Мой телефон">
                        </div>
                        <button class="button form-button">
                            Заказать <span class="button__smaller">со скидкой</span>
                        </button>
                        <p class="price-descr">* при заказе курса</p>
                    </div>
                    <div class="form-delivery">
                        <img class="form-delivery__img" src="./img/money.svg" alt="">
                        <p class="form-delivery__text">Оплата после получения</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>