@media screen and (min-width: 1200px){
	.secrets.section {
		padding: 105px 0 130px;
	}
}

.secrets-title {
	margin-bottom: 60px;
}

.secrets-wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.secrets-morning,
.secrets-evening {
	position: relative;
	padding-top: 90px;
	z-index: 2;
	width: 320px;
}

.secrets-center {
	filter: blur(2px);
}

.secrets-item__header {
	display: flex;
	align-items: flex-end;
	margin-bottom: 30px;
}

.secrets-evening .secrets-item__header {
	justify-content: flex-end;
}

.secrets-item__number {
	font-family: "Yeseva One";
	font-size: 124px;
	line-height: 90px;
	color: #e5d7e1;
	margin-right: 13px;
}

.secrets-evening .secrets-item__number {
	order: 1;
	margin: 0 0 0 13px;
}

.secrets-item__title {
	position: relative;
	color: #171717;
	font-size: 27px;
	line-height: 1.1;
	font-weight: 500;
}

.secrets-item__title:before,
.secrets-item__title:after {
	content: "";
	position: absolute;
}

.secrets-item__title:before {
	top: -80px;
	left: 53px;
	width: 74px;
	height: 74px;
	border-radius: 50%;
	background: #f6b220 url("../img/sun.svg") no-repeat center;
}

.secrets-item__title:after {
	width: 59px;
	height: 43px;
	top: -50px;
	right: -5px;
	background: url("../img/secrets-arrow.png") no-repeat;
}

.secrets-evening .secrets-item__title:before {
	left: 85px;
	background: #ee3071 url("../img/moon.svg") no-repeat center;
}

.secrets-evening .secrets-item__title:after {
	right: 130px;
	transform: scaleX(-1);
}

.secrets-evening .secrets-list__item {
	justify-content: flex-end;
}

.secrets-list__item {
	display: flex;
	align-items: center;
}

.secrets-list__item + .secrets-list__item {
	margin-top: 20px;
}

.secrets-list__circle {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #76b821;
	margin-right: 10px;
}

.secrets-evening .secrets-list__circle {
	order: 1;
	margin: 0 0 0 10px;
}

.secrets-list__text {
	color: #444444;
	font-size: 19px;
	line-height: 1.4;
}

.secrets-evening .secrets-list__text {
	text-align: right;
}

.secrets-morning__img {
	position: absolute;
	right: -260px;
	bottom: -75px;
}

.secrets-morning__orange {
	position: absolute;
	right: 25px;
	bottom: 80px;
	z-index: -1;
}

.secrets-evening__img {
	position: absolute;
	left: -338px;
	bottom: -68px;
}

.secrets-evening__strawberry {
	position: absolute;
	right: -40px;
	bottom: 80px;
	z-index: -1;
}


.secrets-button {
	max-width: 220px;
	margin: 0 auto;
}

@media screen and (max-width: 1199px){
	.secrets-wrap {
		margin-bottom: 80px;
	}

	.secrets-title {
		margin-bottom: 30px;
	}

	.secrets-list__text {
		font-size: 17px;
	}

	.secrets-morning,
	.secrets-evening {
		width: 290px;
	}

	.secrets-item__title {
		font-size: 24px;
	}

	.secrets-morning__img {
		right: -240px;
	}

	.secrets-evening__img {
		left: -330px;
		bottom: -110px;
	}

	.secrets-item__title:before {
		left: 33px;
	}

	.secrets-evening .secrets-item__title:before {
		left: 65px;
	}

}

@media screen and (max-width: 1023px){
	.secrets-title {
		margin-bottom: 40px;
	}

	.secrets-title__img {
		width: 180px;
	}

	.secrets-wrap {
		align-items: flex-start;
		margin-bottom: 120px;
	}

	.secrets-item__header {
		margin-bottom: 20px;
	}

	.secrets-item__number {
		font-size: 100px;
		line-height: 75px;
	}

	.secrets-morning__orange,
	.secrets-evening__strawberry {
		display: none;
	}

	.secrets-center {
		position: relative;
		top: 100px;
		left: -30px;
		width: 250px;
	}

	.secrets-item__title {
		font-size: 22px;
	}

	.secrets-item__title:before {
		left: 15px;
	}

	.secrets-item__title:after {
		right: 0;
	}

	.secrets-evening .secrets-item__title:after {
		right: 100px;
	}

	.secrets-evening .secrets-item__title:before {
		left: 75px;
	}

	.secrets-morning,
	.secrets-evening {
		padding-top: 0;
	}

	.secrets-morning__img {
		right: initial;
		left: -30px;
		bottom: -230px;
		width: 240px;
	}

	.secrets-evening__img {
		left: initial;
		right: 30px;
		bottom: -245px;
		width: 240px;
	}

	.secrets-item__title:before,
	.secrets-evening .secrets-item__title:before {
		top: -70px;
		width: 54px;
		height: 54px;
		background-size: 40px;
	}

	.secrets-item__title:before {
		left: 35px;
	}

	.secrets-list__circle {
		width: 34px;
		height: 34px;
	}


}

@media screen and (max-width: 767px){
	.secrets-title__img {
		max-width: 150px;
	}

	.secrets-item__number {
		font-size: 90px;
		line-height: 65px;
	}

	.secrets-list__item + .secrets-list__item {
		margin-top: 15px;
	}

	.secrets-morning,
	.secrets-evening {
		width: 50%;
	}

	.secrets-center {
		display: none;
	}

	.secrets-evening__img {
		right: 0;
	}

	.secrets-morning__img {
		left: -60px;
	}

	.secrets-list__text br {
		display: none;
	}

	.secrets-item__title:before,
	.secrets-evening .secrets-item__title:before {
		top: -60px;
	}

}

@media screen and (max-width: 639px){
	.title.secrets-title {
		font-size: 30px;
	}

	.secrets-wrap {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.secrets-morning {
		margin-bottom: 40px;
	}

	.secrets-morning,
	.secrets-evening {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	.secrets-morning__img,
	.secrets-evening__img {
		position: static;
	}

	.secrets-morning__img {
		margin-bottom: -20px;
	}

	.secrets-evening__img {
		margin-bottom: -40px;
	}

	.secrets-list {
		order: 2;
	}

	.secrets-evening .secrets-item__number {
		order: 0;
		margin: 0 13px 0 0;
	}

	.secrets-evening .secrets-list__item {
		justify-content: flex-start;
	}

	.secrets-evening .secrets-list__circle {
		order: 0;
		margin: 0 10px 0 0;
	}

	.secrets-morning .secrets-item__title:after,
	.secrets-evening .secrets-item__title:after {
		right: initial;
		left: 95px;
	}

	.secrets-evening .secrets-item__title:after {
		transform: none;
	}

	.secrets-evening .secrets-item__title:before {
		left: 35px;
	}

	.secrets-evening .secrets-list__text {
		text-align: left;
	}

}

@media screen and (max-width: 479px){
	.title.secrets-title {
		font-size: 25px;
	}

	.secrets-title__img {
		max-width: 125px;
	}

	.secrets-list__text {
		font-size: 16px;
	}

}