@media screen and (min-width: 1200px){
  .reviews.section {
    padding: 75px 0 59px;
  }
}


.reviews {

  &-wrapper {
    position: relative;
  }

  &-title {
    margin-bottom: 30px;

    @media (min-width: 1024px) {
      margin-bottom: 51px;
    }
  }

  &-item {
    padding-top: 54px;
    padding-bottom: 17px;
  }

  &-list {
    margin-left: -10px;
    margin-right: -10px;
  }

  &-navigation {
    position: absolute;
    top: 355px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    width: 300px;
    transform: translateX(-50%);

    @media (min-width: 768px) {
      width: 98%;
    }

    @media (min-width: 1024px) {
      top: 378px;
      width: 98%;
    }

    @media (min-width: 1200px) {
      width: 100%;
      top: 508px;
    }

    @media (min-width: 1330px) {
      top: 450px;
    }
  }

  &-button {
    max-width: 220px;
    margin: 0 auto;
    margin-top: 30px;

    @media (min-width: 1024px) {
      margin-top: 57px;
    }
  }
}

.review {
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  text-align: center;
  border-radius: 40px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);

  @media (min-width: 1200px) {
    max-width: 370px;
  }

  $t-offset: -40px;

  &-thumb {
    box-shadow: 0 5px 21px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    position: relative;
    top: $t-offset;
    display: block;
    max-width: 263px;
    margin: 0 auto;
  }
  
  &-body {
    margin-top: -15px;
    padding: 0 15px;
    
    @media (min-width: 1200px) {
      padding: 0 32px;
    }
  }
  
  &-about {
    margin-bottom: 9px;
    color: #171717;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;

    @media (min-width: 1200px) {
      font-size: 20px;
      line-height: 28px;
    }

    & .age {
      color: #444444;
    }
  }

  &-cite {
    position: relative;
    display: block;
    margin-bottom: 25px;
    padding-top: 39px;
    color: #444444;
    font-size: 17px;
    font-style: italic;
    font-weight: 500;
    line-height: 24px;
    
    @media (min-width: 1200px) {
      font-size: 19px;
      line-height: 26px;
    }

    &::before {
      content: "”";
      position: absolute;
      top: 0;
      left: 50%;
      color: #ee3071;
      font-family: "Yeseva One", serif;
      font-size: 65px;
      font-style: normal;
      line-height: 1;
      transform: translateX(-50%);
    }
  }

  &-text {
    position: relative;
    padding-top: 22px;
    height: 274px;
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    
    @media (min-width: 1200px) {
      font-size: 17px;
      line-height: 28px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      max-width: 297px;
      height: 1px;
      background-image: repeating-linear-gradient(to right, #d7d7d7 0, #d7d7d7 3px, transparent 3px, transparent 6px);
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2em;
      background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    }

  }

  &-toggler {
    position: relative;
    bottom: -17px;
    margin: 0 auto;
    padding: 0;
    width: 39px;
    height: 39px;
    background-color: #f6b220;
    border: none;
    border-radius: 50%;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 21px;
      height: 21px;
      background-image: url("../img/review-btn-bg.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &:hover {
      background-color: #ff7fab;
    }

    &:active {
      background-color: #f6b220;
    }

  }
}

.reviews-carousel-button {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 0px;
    font-size: 0px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: transparent;
    background-color: #ee3071;
    border-radius: 50%;
    padding: 0;
    border: 1px solid #ee3071;
    outline: none;
    transition: .5;

    &:hover {
        outline: none;
        background: #fdb234;
        border-color: #fdb234;
      }
}

.reviews-carousel-button_prev {
  left: 0;

  @media (min-width: 1330px) {
    left: -72px;
  }

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        left: calc(50% - 1px);
        width: 11px;
        height: 20px;
        background-image: url("../img/carousel-arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%) scale(-1);
        [dir="rtl"] & {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            left: calc(50% + 1px);
            width: 11px;
            height: 20px;
            background-image: url("../img/carousel-arrow.svg");
            background-position: center;
            background-repeat: no-repeat;
            transform: translate(-50%, -50%);
        }
    }
}

.reviews-carousel-button_next {
  right: 0;

  @media (min-width: 1330px) {
    right: -72px;
  }

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        left: calc(50% + 1px);
        width: 11px;
        height: 20px;
        background-image: url("../img/carousel-arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        [dir="rtl"] & {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            left: calc(50% - 1px);
            width: 11px;
            height: 20px;
            background-image: url("../img/carousel-arrow.svg");
            background-position: center;
            background-repeat: no-repeat;
            transform: translate(-50%, -50%) scale(-1);
        }
    }
}


@media screen and (max-width: 1023px){
  .reviews-list {
    padding: 0 50px;
  }

  .reviews-carousel-button::before {
    width: 35px;
    height: 35px;
  }

  .review {
    max-width: 320px;
  }

}


.review.active .review-text {
  height: auto;
  overflow: visible;
}

.review.active .review-text:after {
  content: none;
}

.review.active .review-toggler {
  background-color: #ee3071;
  transform: scale(-1);
}

@media screen and (max-width: 1199px){
  .reviews-title {
    margin-bottom: 30px;
  }

  .review-text {
    height: 268px;
  }

}

@media screen and (max-width: 1023px) {
  .review-text {
    height: 234px;
  }

  .reviews-title {
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 767px){
  .reviews-list {
    padding: 0;
  }

  .review {
    max-width: 300px;
  }

  .review-text br {
    display: none;
  }

  .reviews-navigation {
    top: 335px;
    width: 610px;
  }

  .review-about {
    font-size: 16px;
    line-height: 1;
  }

  .review-cite {
    margin-bottom: 15px;
  }

  .review-text {
    padding-top: 15px;
  }

  .reviews-title {
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 639px) {
  .reviews-navigation {
    width: 310px;
  }

  .review {
    max-width: 340px;
  }

  .review-text {
    height: 208px;
  }

}

@media screen and (max-width: 479px) {

  .review {
    max-width: 300px;
  }

  .reviews-navigation {
    width: 290px;
  }

  .review-text br {
    display: none;
  }

  .reviews-button {
    margin-top: 20px;
  }

}
