@media screen and (min-width: 1200px){
  .delivery.section {
    padding: 50px 0 80px;
  }
}

.delivery-title {
  margin-bottom: 60px;
}

.delivery-wrap {
  display: flex;
  justify-content: center;
}

.delivery-item {
  text-align: center;
  max-width: 300px;
  width: 33.33%;
  padding: 0 15px;
}

.delivery-item:nth-child(even) {
  padding-top: 70px;
}

.delivery-item__img {
  position: relative;
  width: 270px;
  height: 270px;
  box-shadow: 0 5px 21px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  border-radius: 40px;
  margin-bottom: 115px;
}

.delivery-item:nth-child(even) .delivery-item__img {
  margin-bottom: 45px;
}

.delivery-item__number {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: "Yeseva One";
  font-size: 124px;
  line-height: 100px;
  color: #e5d7e1;
}

.delivery-item:nth-child(even) .delivery-item__number {
  bottom: initial;
  top: -80px;
}

.delivery-item__form,
.delivery-item__operator,
.delivery-product__main,
.delivery-product__morning,
.delivery-product__evening {
  position: absolute;
}

.delivery-item__form {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.delivery-item__operator {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.delivery-product__main {
  width: 232px;
  z-index: 1;
  bottom: 13px;
  left: -6px;
}

.delivery-product__morning {
  width: 181px;
  z-index: 3;
  bottom: 10px;
  left: -10px;
}

.delivery-product__evening {
  width: 187px;
  z-index: 2;
  bottom: 5px;
  left: 55px;
}


.delivery-item__title {
  position: relative;
  color: #171717;
  font-size: 22px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 10px;

  @media (max-width: 767px) {
    line-height: 1.1;
  }
}

.delivery-item__title:before {
  content: "";
  position: absolute;
  width: 44px;
  height: 4px;
  background-color: #f6b220;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.delivery-item__text {
  color: #444444;
  font-size: 17px;
  line-height: 1.5;

  @media (max-width: 767px) {
    line-height: 1.3;
  }
}

@media screen and (max-width: 1023px){
  .delivery-title {
    margin-bottom: 30px;
  }

  .delivery-item {
    padding: 0 10px;
  }

  .delivery-item__img {
    width: 235px;
    height: 235px;
    margin-bottom: 90px;
  }

  .delivery-item:nth-child(even){
    padding-top: 55px;
  }

  .delivery-item:nth-child(even) .delivery-item__img {
    margin-bottom: 35px;
  }

  .delivery-item__number {
    font-size: 100px;
    line-height: 80px;
    bottom: -65px;
  }

  .delivery-item:nth-child(even) .delivery-item__number {
    top: -65px;
  }

  .delivery-item__form {
    width: 210px;
  }

  .delivery-item__operator {
    width: 150px;
  }

  .delivery-product__main {
    width: 200px;
    left: 0;
  }

  .delivery-product__morning {
    width: 160px;
    bottom: -5px;
    left: -20px;
  }

  .delivery-product__evening {
    width: 165px;
    bottom: 0;
  }


  .delivery-item__title:before {
    top: -15px;
  }

  .delivery-item__title {
    font-size: 20px;
  }

}

@media screen and (max-width: 767px){
  .delivery-item__number {
    font-size: 90px;
    line-height: 70px;
    bottom: -60px;
  }

  .delivery-item:nth-child(even) .delivery-item__number {
    top: -60px;
  }

  .delivery-item__img {
    width: 192px;
    height: 192px;
  }

  .delivery-item__form {
    width: 170px;
  }

  .delivery-item__operator {
    width: 120px;
  }

  .delivery-product__main {
    width: 160px;
  }

  .delivery-product__morning {
    width: 140px;
    bottom: 0;
    left: -10px;
  }

  .delivery-product__evening {
    width: 130px;
  }

  .delivery-item__title {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .delivery-item__text {
    font-size: 16px;
  }

}

@media screen and (max-width: 639px){
  .delivery-title {
    margin-bottom: 20px;
  }

  .delivery-item:nth-child(even) {
    padding-top: 0;
  }

  .delivery-item__img,
  .delivery-item:nth-child(even) .delivery-item__img {
    margin: 0 auto 90px;
  }

  .delivery-item:nth-child(even) .delivery-item__number {
    top: initial;
    bottom: -60px;
  }

  .delivery-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .delivery-item {
    width: 50%;
    max-width: 230px;
  }

  .delivery-item:nth-child(3) {
    margin-top: 20px;
  }
}

@media screen and (max-width: 479px){
  .delivery-item:nth-child(3) {
    margin-top: 0;
  }

  .delivery-item__img,
  .delivery-item:nth-child(even) .delivery-item__img {
    margin: 0 auto 30px;
  }

  .delivery-item {
    width: 100%;
  }

  .delivery-item + .delivery-item {
    margin-top: 20px;
  }

  .delivery-item__number,
  .delivery-item:nth-child(even) .delivery-item__number{
    bottom: initial;
    top: 50%;
    left: -40px;
    transform: translate(0, -50%);
  }

}