doctype html
html
  head
    meta(charset="utf-8")
    title Купить YummyFit недорого. Цены, отзывы. Закажите YummyFit сейчас!
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,900|Yeseva+One&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
    link(rel='stylesheet' href='css/foundation.css')
  body
    include ../common/a__home.html
    include ../common/b__products.html
    include ../common/c__secrets.html
    include ../common/d__preference.html
    include ../common/e__components.html
    include ../common/f__expert.html
    include ../common/g__stats.html
    include ../common/h__reviews.html
    include ../common/i__use.html
    include ../common/j__delivery.html
    include ../common/k__last-section.html
    include ../common/l__footer.html
    include ../common/popup.html


    script(src='./js/foundation.js')
    script(src='./js/app.js')
    script(src='./js/postDate.js')
    script(src='./js/everad.js')
